@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<body style="background-color: #a8b6f0">
</body>
<h1 style="font-family: Montserrat;color: #0b2847;">Email has been verified!</h1>
<a asp-area="" asp-action="Home" asp-controller="Home" style="font-family: Montserrat;color: #0b2847;"> Click here to start exploring Spotifive.</a>
