@page
@model LoginModel

@{
	ViewData["Title"] = "Log in";
	Layout = null;
}
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">


	<link rel="stylesheet" href="~/css/motoDark.css">
	<link rel="stylesheet" href="~/css/bodyLight.css">

	<style>
		.posLogo {
			position: absolute;
			top: 7px;
			left: 10px;
		}
	</style>




	<style>
		posButtonCritic {
			position: absolute;
			left: 50px;
			bottom: 50px;
		}
	</style>





	<style>
		.buttonUserCritic {
			font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
			font-size: 22px;
			border-radius: 30px;
			background-color: #0b2847;
			width: 130px;
			height: 50px;
			text-align: center;
			color: #a8b6f0;
			padding-right: 15px;
			padding-left: 15px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	</style>

	<style>
		h1 {
			font-size: 40px;
		}
	</style>

	<style>
		positionh1 {
			position: absolute;
			top: 90px;
			left: 690px;
		}
	</style>

	<style>
		position1 {
			position: absolute;
			top: 200px;
			left: 640px;
		}
	</style>


	<style>
		h6 {
			font-size: 20px;
		}
	</style>

	<style>
		positionh6 {
			position: absolute;
			top: 400px;
			left: 665px;
		}
	</style>

	<style>
		linking {
			font-size: 16px;
			color: #025abf;
			font-style: italic;
		}
	</style>

	<moto></>Let the music move you.</moto>
</head>
<body>
	<img width="130" height="100" class="posLogo" src="~/assets/images/SpotiFIVELogo.png">
	<h1><positionh1>Log in</positionh1></h1>
	<div class="row">
		<div class="col-md-4">
		<section>
			<form id="account" method="post">
				<div asp-validation-summary="All" class="text-danger"></div>
				<position1>
					<div class="form-group">
						<label asp-for="Input.Username"></label>
						<input asp-for="Input.Username" class="form-control"/>
						<span asp-validation-for="Input.Username" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Input.Password"></label>
						<input asp-for="Input.Password" class="form-control" />
						<span asp-validation-for="Input.Password" class="text-danger"></span>

										</div>
					<div class="form-group">
						<div class="checkbox">
							<label asp-for="Input.RememberMe">
								<input asp-for="Input.RememberMe" />
								@Html.DisplayNameFor(m => m.Input.RememberMe)
							</label>
						</div>
					</div>

					<posButtonCritic>
						<div class="form-group">
								<button type="submit" class="buttonUserCritic">Log in</button>
							</div>

					</posButtonCritic>
					<div class="form-group">
						<p>
							<a id="forgot-password" asp-page="./ResetPassword">Forgot your password?</a>
						</p>
						<p>
							<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
						</p>

					</div>
				</position1>
			</form>
		</section>
	</div>
	</div>
	@section Scripts {
		<partial name="_ValidationScriptsPartial" />
	}

</body>
</html>