@page
@model LoginModel

@{
	ViewData["Title"] = "Log in";
	Layout = null;
}
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">


	<link rel="stylesheet" href="~/css/motoDark.css">
	<link rel="stylesheet" href="~/css/bodyLight.css">



	<style>
		.posLogo {
			position: absolute;
			top: 7px;
			left: 10px;
		}

		posButtonCritic {
			position: absolute;
			left: 50px;
			bottom: 50px;
		}
	
		.buttonUserCritic {
			font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
			font-size: 22px;
			border-radius: 30px;
			background-color: #0b2847;
			width: 130px;
			height: 50px;
			left:10%;
			text-align: center;
			color: #a8b6f0;
			padding-right: 15px;
			padding-left: 15px;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		h1 {
			font-size: 40px;
		}

		positionh1 {
			position: absolute;
			top: 90px;
			left: 690px;
		}
	
		position1 {
			position: absolute;
			top: 200px;
			left: 40%;
		}
	
		h6 {
			font-size: 20px;
		}

		positionh6 {
			position: absolute;
			top: 400px;
			left: 665px;
		}
	
		linking {
			font-size: 16px;
			color: #025abf;
			font-style: italic;
		}

		.form__input {
			width: 100%;
			border: 0px solid transparent;
			border-radius: 0;
			border-bottom: 1px solid #aaa;
			padding: 1em .5em .5em;
			padding-left: 2em;
			font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/

			outline: none;
			margin: 1.5em auto;
			transition: all .5s ease;
		}

			.form__input:focus {
				border-bottom-color: #0b2847;
				box-shadow: 0 0 5px rgba(0,80,80,.4);
				font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/

				border-radius: 4px;
			}
	</style>

	<moto></>Let the music move you.</moto>
</head>
<body>
	<img width="130" height="100" class="posLogo" src="~/assets/images/SpotiFIVELogo.png">
	<h1><positionh1>Log in</positionh1></h1>
	<div class="row">
				<position1>

			<form id="account" method="post">
					<div class="form-group">
						<label asp-for="Input.Username"></label>
						<input asp-for="Input.Username" class="form__input"/>
						<span asp-validation-for="Input.Username" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Input.Password"></label>
						<input asp-for="Input.Password" class="form__input" />
						<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
					<div class="form-group" style="align-content:center">
						<div class="checkbox">
							<label asp-for="Input.RememberMe">
								<input asp-for="Input.RememberMe" />
								@Html.DisplayNameFor(m => m.Input.RememberMe)
							</label>
						</div>
					</div>

				
						
					<button type="submit" class="buttonUserCritic">Log in</button>
			

				
				<div class="form-group" style="align-content:center">
					<p>
						Forgot your password?
							<a id="forgot-password" asp-page="./ResetPassword">Reset</a>
						</p>
						<p> Don't have an account?
							<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
						</p>

					</div>
			</form>
		</position1>
	</div>
	
	@section Scripts {
		<partial name="_ValidationScriptsPartial" />
	}

</body>
</html>