@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

	<link rel="stylesheet" href="/css/motoDark.css">
	<link rel="stylesheet" href="/css/bodyLight.css">
	<link rel="stylesheet" href="~/css/sgnLogBttnDark.css">


	<style>
		.btn {
			background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0.25em, transparent 0.25em) center/1em 1.2em;
			font-family: 'Montserrat', sans-serif;
			font-size: 20px;
			font-weight: 700;
			text-transform: capitalize;
			letter-spacing: 1px;
			border-radius: 20px/50px;
			border: 2px solid #0b2847;
			transition: all 0.5s ease 0s;
			color: #0b2847;
			position: fixed;
			bottom: 215px;
			left: 1000px;
		}

			.btn:hover,
			.btn:focus {
				color: #a8b6f0;
				background: radial-gradient(circle, #0b2847 0.25em, transparent 0.25em) center/0.1em 0.1em;
				box-shadow: 4px 4px rgba(253,238,172,0.2);
			}
		.posLogo {
			position: absolute;
			top: 7px;
			left: 10px;
		}
	
		posButtonUser {
			position: absolute;
			right: 400px;
			bottom: 120px;
		}

		posrole {
			position: absolute;
			left: 400px;
			bottom: 200px;
		}
	
		h1 {
			font-size: 40px;
		}
		positionh1 {
			position: absolute;
			top: 90px;
			left: 690px;
		}
	
		position1 {
			position: absolute;
			top: 200px;
			left: 400px;
		}
	
		position2 {
			position: absolute;
			top: 200px;
			left:900px;
		}
	
		h6 {
			font-size: 20px;
		}

		positionh6 {
			position: absolute;
			top: 150px;
			left: 620px;
		}
	</style>

	

	<moto></>Let the music move you.</moto>
</head>
<body>
	<img width="130" height="100" class="posLogo" src="~/assets/images/SpotiFIVELogo.png">
	<h1><positionh1>Sign up</positionh1></h1>
	<h6><positionh6>Already have an account? <a asp-area="Identity" asp-page="/Account/Login" style="color: #0b2847;">Log in.</a></positionh6></h6>

	<div class="row">
		<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
			 <div asp-validation-summary="All" class="text-danger"></div>
			<position1>
				<div>
					<div class="form-group">
						<input asp-for="Input.Name" class="form-control" placeholder="First name" />
						<span asp-validation-for="Input.Name" class="text-danger"></span>
						<br>
					</div>
					<div class="form-group">
						<input asp-for="Input.Surname" class="form-control" placeholder="Last name" />
						<span asp-validation-for="Input.Surname" class="text-danger"></span>
						<br>
					</div>
					<div class="form-group">
						<input asp-for="Input.Gender" class="form-control" placeholder="Gender" />
						<span asp-validation-for="Input.Gender" class="text-danger"></span>
						<br>
					</div>
					<div class="form-group">
						<input asp-for="Input.DateOfBirth" class="form-control" placeholder="Date of birth" />
						<span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
						<br>
					</div>
				</div>
			</position1>
			<position2>
				<div>
					<div class="form-group">
						<input asp-for="Input.Email" class="form-control" placeholder="E-mail" />
						<span asp-validation-for="Input.Email" class="text-danger"></span>
						<br>
					</div>
					<div class="form-group">
						<input asp-for="Input.Username" class="form-control" placeholder="Username" />
						<span asp-validation-for="Input.Username" class="text-danger"></span>
						<br>
					</div>
					<div class="form-group">
						<input asp-for="Input.Password" class="form-control" placeholder="Password" />
						<span asp-validation-for="Input.Password" class="text-danger"></span>
						<br>
					</div>
					<div class="form-group">
						<input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Your password" />
						<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
						<br>
					</div>
				</div>
			</position2>
			<posrole>

				<div class="form-group">
					<select asp-for="Input.Role" class="form-control" asp-items="ViewBag.Role">
					</select>
					<span asp-validation-for="Input.Role" class="text-danger"></span>
				</div>

			</posrole>
			<posButtonUser>
				<div class="form-group">

					<button type="submit" class="btn">Sign up</button>

				</div>
			</posButtonUser>
		</form>

	</div>
</body>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}