@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
	}

<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="~/css/motoDark.css">
	<link rel="stylesheet" href="~/css/bodyLight.css">

	<style>
		.posLogo {
			position: absolute;
			top: 7px;
			left: 10px;
		}
	</style>

	<style>
		posButtonReset {
			position: absolute;
			left: 700px;
			bottom: 230px;
		}
	</style>

	<style>
		.buttonReset {
			font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
			font-size: 22px;
			border-radius: 30px;
			background-color: #0b2847;
			text-align: center;
			color: #a8b6f0;
			padding-right: 20px;
			padding-left: 20px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	</style>

	<style>
		h1 {
			font-size: 40px;
		}
	</style>

	<style>
		positionh1 {
			position: absolute;
			top: 90px;
			left: 562px;
		}
	</style>

	<style>
		position1 {
			position: absolute;
			top: 200px;
			left: 640px;
		}
	</style>


	<style>
		h6 {
			font-size: 20px;
		}
	</style>

	<style>
		positionh6 {
			position: absolute;
			top: 400px;
			left: 665px;
		}
	</style>

	<style>
		linking {
			font-size: 16px;
			color: #025abf;
			font-style: italic;
		}
	</style>

	<moto></>Let the music move you.</moto>
</head>

<body>
	<img width="130" height="100" class="posLogo" src="~/assets/images/SpotiFIVELogo.png">



	<h1><positionh1>Reset Your password</positionh1></h1>



	<div class="row">
		<!--<div class="col-md-4">-->
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<position1>
				<div>
					<div class="form-group">
						<input asp-for="Input.Username" class="form-control" placeholder="Username" style="font-family:Montserrat" />
						<span asp-validation-for="Input.Username" class="text-danger"></span>
						<br>
					</div>

					<div class="form-group">
						<input asp-for="Input.Password" class="form-control" placeholder="New password" style="font-family:Montserrat" />
						<span asp-validation-for="Input.Password" class="text-danger"></span>
						<br>
					</div>

					<div class="form-group">
						<input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Your password" style="font-family:Montserrat" />
						<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
						<br>
					</div>

				</div>
			</position1>

			<posButtonReset>
				<div class="form-group">
					<button type="submit" class="buttonReset">
						Reset
					</button>
				</div>
			</posButtonReset>

		</form>
	</div>

</body>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
