@model IEnumerable< Spotifive.Models.Song>
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/motoDark.css">
    <link rel="stylesheet" href="~/css/bodyLight.css">
    <link rel="stylesheet" href="~/css/sgnLogBttnDark.css">
    <link rel="stylesheet" href="~/css/logo.css">
   

    <style>
    
        .logo {
            position: fixed;
            bottom: 40px;
            right: 60px;
        }
    secsongs{
        position:absolute;
        top: 30%;
        left: 20%;
        
    }
   
        .search-container {
            position: fixed;
            top: 3%;
            left: 20%;
        }

        .search-box {
            margin: 20px 5px;
            padding: 10px;
            border-radius: 30px;
            border: 1px solid gray;
            width: 300px;
            font-size: 16px;
        }

        .search-button {
            position: fixed;
            top: 5.5%;
            left: 42%;
            font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
            font-size: 22px;
            border-radius: 30px;
            background-color: #0b2847;
            text-align: center;
            color: #a8b6f0;
            padding-right: 15px;
            padding-left: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
        }


    </style>

    <style>
        h3 {
            position: fixed;
            top: 100px;
            left: 150px;
        }
    </style>

    <style>

        .imgProfile {
            position: absolute;
            right: 80px;
            top: 49px;
            font-style: italic;
            height: 50px;
            width: 50px;
        }

        .imagesong{
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
            height: 150px;
        }

        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }

    </style>


    <style>
        h1 {
            position: fixed;
            top: 20%;
            left: 20%;
            font-size: 40px;
            font-weight: bold;
        }
    </style>

    <style>
        .buttons {
            border: 1px solid transparent;
            color: #0b2847;
            text-align: left;
            font-size: 28px;
            font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
            background-color: #a8b6f0;
        }
    </style>

    <style>
        .positionh2 {
            position: fixed;
            top: 60px;
            left: 100px;
        }
        .imgpos{
            height: 150px;
            width:150px;
        }
        .tabpos{
            position: fixed;
            top: 40%;
            left: 20%;
        }
    </style>

</head>
<header>
    <form>
        <div class="search-container">
                <input type="text" class="search-box" id="Text1" placeholder="Type here..." />
                <button type="button" class="search-button" data-target="#srcsong" data-toggle="modal" id="showPop">Search</button>
        </div>
               
        </>
        <!-- Modal -->
        <div class="modal fade" id="srcsong" role="dialog">
            <div class="modal-dialog   modal-lg">

                <!-- Modal content-->
                <div class="modal-content" style="background-color:#0b2847;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                    <div class="modal-body ">
                        <div id="popup">
                        </div>
                    </div>
                 
                </div>

            </div>
        </div>

    </form>

    @section Scripts{
        <script>
            $('#showPop').click(function () {
                var url = '@Url.Action("GetPartialView", "Home")';
                $.ajax({
                    url: url,
                    type: 'post',
                   data: { "para": $("#Text1").val() },
                    success: function (data) {
                        $('#popup').html(data);
                    }
                });
            })

           
        </script>
    }

    <a asp-action="Account" asp-controller="Account"><img class="imgProfile" id="userAvatar" src="~/assets/images/Profile.png"></a>


    <div>
        <h1>Top songs</h1>
    </div>
    <div class="positionh2">

        <button class="buttons"><a asp-action="Home" asp-controller="Home" style="color:#0b2847;">Home</a></button>

        <br>

        <button class="buttons"><a asp-action="Artist" asp-controller="Artist" style="color:#0b2847;">Artists</a></button>

        <br>

        @if(User.IsInRole("Registered user")){
        <button class="buttons"><a asp-action="Playlist" asp-controller="Playlist" style="color:#0b2847;">Playlists</a></button>
        }
    </div>
  
</header>


   

    

   
        <secsongs>
        @foreach (var item in Model)
        {
         
        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <div class="single-album-area wow fadeInUp" data-wow-delay="600ms">
                <div class="album-thumb">
                    <a asp-action="Song" asp-route-id="@item.ID" asp-controller="Song">
                        <img src=@item.Image alt="@item.SongName" class="imagesong">
                    </a>
                    <div class="album-info">
                        <p class="text-right" style="color:#0b2847;">@item.SongName</p>

                    </div>
                </div>
               
            </div>
        </div>
        }




    </secsongs> 
      
    <div>
        <a href="your-link-here">
            <img width="130" height="100" class="logo" src="~/assets/images/SpotiFIVELogo.png">
        </a>
  

    </div>

