@model IEnumerable<Spotifive.Models.Playlist>

@{
    ViewData["Title"] = "Playlists";
}

<head>
    <link rel="stylesheet" href="~/css/motoDark.css">
    <link rel="stylesheet" href="~/css/bodyLight.css">
    <link rel="stylesheet" href="~/css/sgnLogBttnDark.css">
    <link rel="stylesheet" href="~/css/logo.css">
    <style>

       

        secsongs {
            position: absolute;
            top: 30%;
            left: 20%;
        }

        header {
            position: relative;
        }

        .search-container {
            position: fixed;
            top: 2%;
            left: 20%;
        }

        .search-box {
            margin: 20px 5px;
            padding: 10px;
            border-radius: 30px;
            border: 1px solid gray;
            width: 300px;
            font-size: 16px;
        }

        .search-button {
            position: fixed;
            top: 4.5%;
            left: 42%;
            font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
            font-size: 22px;
            border-radius: 30px;
            background-color: #0b2847;
            text-align: center;
            color: #a8b6f0;
            padding-right: 15px;
            padding-left: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        h3 {
            position: fixed;
            top: 100px;
            left: 150px;
        }

        .imgProfile {
            position: fixed;
            right: 14vh;
            top: 5vh;
            font-style: italic;
            height: 50px;
            width: 50px;
        }


        .imagesong {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
            height: 150px;
        }

        img:hover {
            box-shadow: 0 0 2px 1px #0b2847;
        }

        h1 {
            position: fixed;
            top: 20vh;
            left: 40vh;
            font-size: 40px;
            font-weight: bold;
        }



        .buttons {
            border: 1px solid transparent;
            color: #0b2847;
            text-align: left;
            font-size: 28px;
            font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
            background-color: #a8b6f0;
        }

        .positionh2 {
            position: fixed;
            top: 60px;
            left: 100px;
        }

        .imgpos {
            height: 150px;
            width: 150px;
        }

        .tabpos {
            position: fixed;
            top: 40%;
            left: 20%;
        }
         position{
            position: fixed;
            bottom: 40px;
            right: 80px;
         }
        .btn {
          
            background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0.25em, transparent 0.25em) center/1em 1.2em;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 700;
            text-transform: capitalize;
            letter-spacing: 1px;
            border-radius: 20px/50px;
            border: 2px solid #0b2847;
            transition: all 0.5s ease 0s;
            color: #a8b6f0;
        }

            .btn:hover,
            .btn:focus {
                color: #a8b6f0;
                background: radial-gradient(circle, #0b2847 0.25em, transparent 0.25em) center/0.1em 0.1em;
                box-shadow: 4px 4px rgba(253,238,172,0.2);
            }

        

        header {
            position: fixed;
            height: 30vh;
            width: 200vh;
            top: 0;
            z-index: 1;
            background-color: #a8b6f0;
        }

        .hvr {
            --c: linear-gradient(#0b2847 0 0); /* update the color here */

            padding-bottom: .15em;
            background: var(--c), var(--c);
            background-size: .3em .1em;
            background-position: 50% 100%;
            background-repeat: no-repeat;
            transition: .3s linear, background-size .3s .2s linear;
        }

            .hvr:hover {
                background-size: 40% .1em;
                background-position: 10% 100%, 90% 100%;
            }

    </style>
</head>
<header>


   <form>
        <div class="search-container">
            <input type="text" class="search-box" id="txt" placeholder="Type here..." />
            <button type="button" class="search-button" data-target="#srcplaylist" data-toggle="modal" id="showPopPlay">Search</button>
        </div>

        </>
        <!-- Modal -->
        <div class="modal fade" id="srcplaylist" role="dialog">
            <div class="modal-dialog   modal-lg">

                <!-- Modal content-->
                <div class="modal-content" style="background-color:#0b2847;">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body ">
                        <div id="popupplaylist">
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </form>

    @section Scripts{
        <script>
            $('#showPopPlay').click(function () {
                previousUrl = window.location.href; // Store the current URL

                var url = '@Url.Action("GetPartialViewOfP", "Playlist")';
                $.ajax({
                    url: url,
                    type: 'post',
                    data: { "para": $("#txt").val() },
                    success: function (data) {
                        $('#popupplaylist').html(data);
                    }
                });
                $('.close, .modal').click(function () {
                    $('#srcplaylist').css('display', 'none');
                    window.location.href = previousUrl;
                });
            })


        </script>
       
}
    <a asp-action="Account" asp-controller="Account"><img class="imgProfile" id="userAvatar" src="~/assets/images/Profile.png"></a>


   

    <div class="positionh2">

        <div class="positionh2">

            <a asp-action="Home" asp-controller="Home" style="color:#0b2847; font-size: 30px;" class="hvr">Home</a>

            <br>


            <a asp-action="Artist" asp-controller="Artist" style="color:#0b2847;font-size: 30px;" class="hvr">Artists</a>

            <br>

            @if (User.IsInRole("RegisteredUser"))
            {
                <a asp-action="Playlist" asp-controller="Playlist" style="color:#0b2847; font-size: 30px;" class="hvr">Playlists</a>

            }
            <br>
            <h1 style="color:#0b2847;">Playlists</h1>

        </div>
        </div>
</header>

<body>
    <secsongs>
        @foreach (var item in Model)
        {

            <div class="col-12 col-sm-6 col-md-4 col-lg-2" >
                <div class="single-album-area wow fadeInUp" data-wow-delay="600ms">
                    <div class="album-thumb">
                        <a asp-action="PlaylistSongs" asp-route-id="@item.ID" asp-controller="Playlist">
                            <p class="text-left" style="font-size:24px; color:#0b2847;">@item.PlaylistName</p>
                        </a>
                    </div>
                  
                    </div>
                </div>
                    }




    </secsongs>


    <div>
        <a href="your-link-here">
            <img width="130" height="100" class="logo" src="~/assets/images/SpotiFIVELogo.png">
        </a>


    </div>
   

   
   
    @using (Html.BeginForm("Create", "Playlist", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <position>
            <div class="form-group">
                <label for="playlistName">Enter playlist name</label>
                <input type="text" id="playlistName" name="playlistName" class="form-control" />
               
            </div>
            <button type="submit" class="btn" style="color:#0b2847;">Create New</button>
        </position>


    }
  
   

</body>