@model Spotifive.Models.Song

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/bodyLight.css">
    <style>
        #Im {
            position: fixed;
            top: 220px;
            right: 80px;
        }
    </style>


    <!--Tekst-->

    <style>
        .text-box {
            position: fixed;
            top: 60px;
            left: 150px;
            color: #0b2847;
            text-align: center;
            font-family: Montserrat;
            font-size: 40px;
        }
    </style>

    <style>
        .text-box1 {
            position: fixed;
            top: 100px;
            left: 200px;
            color: #0b2847;
            font-family: Montserrat;
            text-align: center;
            font-size: 30px;
        }
    </style>

 


    <style>
        .text-box2 {
            position: fixed;
            top: 230px;
            left: 300px;
            color: #0b2847;
            font-family: Montserrat;
            text-align: center;
            font-size: 30px;
        }

        h4 {
            position: fixed;
            top: 230px;
            left: 100px;
        }
    </style>

    <style>
        .text-box3 {
            position: fixed;
            top: 270px;
            left: 300px;
            color: #0b2847;
            font-family: Montserrat;
            text-align: center;
            font-size: 30px;
        }

        h5 {
            position: fixed;
            top: 270px;
            left: 100px;
        }
    </style>



    <style>
        .text-box4 {
            position: fixed;
            top: 310px;
            left: 300px;
            color: #0b2847;
            font-family: Montserrat;
            text-align: center;
            font-size: 30px;
        }

        h6 {
            position: fixed;
            top: 310px;
            left: 100px;
        }
    </style>

    <style>
        .logo {
            position: fixed;
            bottom: 40px;
            right: 60px;
        }
    </style>

    <style>
        #Im2 {
            position: fixed;
            bottom: 100px;
            left: 100px;
            content: url(S.png);
        }
    </style>

    <style>
        .text {
            text-align: left;
            font-size: 25px;
        }
    </style>

</head>


<!--SLIKE!!!-->
<body>

    <img id="Im" src="https://w7" width="145" height="145">

    <div class="text-box" asp-for="SongName">SONG</div>

    <div class="text-box1" asp-for="ArtistName">Artist</div>


    <h4 class="text">
        Genre:
    </h4>
    <div class="text-box2" asp-for="Genre"></div>

    <h5 class="text">
        YouTube link:
    </h5>
    <div class="text-box3" asp-for="LinkYT"></div>


    <h6 class="text">
        Release date:
    </h6>
    <div class="text-box4" asp-for="DateRelease"></div>


    <img id="Im2" width="200" height="200" />

    <!--<img id="Im2" width="200" height="200" />  PROVJERITI ZA STA JE!!!-->

    <img class="logo" src="~/assets/images/SpotiFIVELogo.png" height="120px" width="170px">
</body>